#pixi-canvas{
    transition: all .2s ease-in-out;
}

#pixi-canvas.size-original{
    width: 240px;
    height: 160px;
}

#pixi-canvas.size-two-times{
    width: 480px;
    height: 320px;
}

#pixi-canvas.size-four-times{
    width: 960px;
    height: 640px;
}

#pixi-canvas.size-fill{
    height: 100vh;
}