:root{
    --spacing-0: 0rem;
    --spacing-0-5: 0.2rem;
    --spacing-1: 0.4rem;
    --spacing-1-5: 0.6rem;
    --spacing-2: 0.8rem;
    --spacing-2-5: 1rem;
    --spacing-3: 1.2rem;
    --spacing-3-5: 1.4rem;
    --spacing-4: 1.6rem;
    --spacing-4-5: 1.8rem;
    --spacing-5: 2rem;
    --spacing-5-5: 2.2rem;
    --spacing-6: 2.4rem;
    --spacing-6-5: 2.6rem;
    --spacing-7: 2.8rem;
    --spacing-7-5: 3rem;
    --spacing-8: 3.2rem;
    --spacing-8-5: 3.4rem;
    --spacing-9: 3.6rem;
    --spacing-9-5: 3.8rem;
    --spacing-10: 4rem;
    --spacing-10-5: 4.2rem;
    --spacing-11: 4.4rem;
    --spacing-11-5: 4.6rem;
    --spacing-12: 4.8rem;
    --spacing-12-5: 5rem;
    --spacing-13: 5.2rem;
    --spacing-13-5: 5.4rem;
    --spacing-14: 5.6rem;
    --spacing-14-5: 5.8rem;
    --spacing-15: 6rem;
    --spacing-15-5: 6.2rem;
    --spacing-16: 6.4rem;
    --spacing-16-5: 6.6rem;
    --spacing-17: 6.8rem;
    --spacing-17-5: 7rem;
    --spacing-18: 7.2rem;
    --spacing-18-5: 7.4rem;
    --spacing-19: 7.6rem;
    --spacing-19-5: 7.8rem;
    --spacing-20: 8rem;
    --spacing-20-5: 8.2rem;
    --spacing-21: 8.4rem;
    --spacing-21-5: 8.6rem;
    --spacing-22: 8.8rem;
    --spacing-22-5: 9rem;
    --spacing-23: 9.2rem;
    --spacing-23-5: 9.4rem;
    --spacing-24: 9.6rem;
    --spacing-24-5: 9.8rem;
    --spacing-25: 10rem;
    --spacing-25-5: 10.2rem;
    --spacing-26: 10.4rem;
    --spacing-26-5: 10.6rem;
    --spacing-27: 10.8rem;
    --spacing-27-5: 11rem;
    --spacing-28: 11.2rem;
    --spacing-28-5: 11.4rem;
    --spacing-29: 11.6rem;
    --spacing-29-5: 11.8rem;
    --spacing-30: 12rem;
    --spacing-30-5: 12.2rem;
    --spacing-31: 12.4rem;
    --spacing-31-5: 12.6rem;
    --spacing-32: 12.8rem;
    --spacing-32-5: 13rem;
    --spacing-33: 13.2rem;
    --spacing-33-5: 13.4rem;
    --spacing-34: 13.6rem;
    --spacing-34-5: 13.8rem;
    --spacing-35: 14rem;
    --spacing-35-5: 14.2rem;
    --spacing-36: 14.4rem;
    --spacing-36-5: 14.6rem;
    --spacing-37: 14.8rem;
    --spacing-37-5: 15rem;
    --spacing-38: 15.2rem;
    --spacing-38-5: 15.4rem;
    --spacing-39: 15.6rem;
    --spacing-39-5: 15.8rem;
    --spacing-40: 16rem;
    --spacing-40-5: 16.2rem;
    --spacing-41: 16.4rem;
    --spacing-41-5: 16.6rem;
    --spacing-42: 16.8rem;
    --spacing-42-5: 17rem;
    --spacing-43: 17.2rem;
    --spacing-43-5: 17.4rem;
    --spacing-44: 17.6rem;
    --spacing-44-5: 17.8rem;
    --spacing-45: 18rem;
    --spacing-45-5: 18.2rem;
    --spacing-46: 18.4rem;
    --spacing-46-5: 18.6rem;
    --spacing-47: 18.8rem;
    --spacing-47-5: 19rem;
    --spacing-48: 19.2rem;
    --spacing-48-5: 19.4rem;
    --spacing-49: 19.6rem;
    --spacing-49-5: 19.8rem;
    --spacing-50: 20rem;
    --spacing-50-5: 20.2rem;
    --spacing-51: 20.4rem;
    --spacing-51-5: 20.6rem;
    --spacing-52: 20.8rem;
    --spacing-52-5: 21rem;
    --spacing-53: 21.2rem;
    --spacing-53-5: 21.4rem;
    --spacing-54: 21.6rem;
    --spacing-54-5: 21.8rem;
    --spacing-55: 22rem;
    --spacing-55-5: 22.2rem;
    --spacing-56: 22.4rem;
    --spacing-56-5: 22.6rem;
    --spacing-57: 22.8rem;
    --spacing-57-5: 23rem;
    --spacing-58: 23.2rem;
    --spacing-58-5: 23.4rem;
    --spacing-59: 23.6rem;
    --spacing-59-5: 23.8rem;
    --spacing-60: 24rem;
    --spacing-60-5: 24.2rem;
    --spacing-61: 24.4rem;
    --spacing-61-5: 24.6rem;
    --spacing-62: 24.8rem;
    --spacing-62-5: 25rem;
    --spacing-63: 25.2rem;
    --spacing-63-5: 25.4rem;
    --spacing-64: 25.6rem;
    --spacing-64-5: 25.8rem;
    --spacing-65: 26rem;
    --spacing-65-5: 26.2rem;
    --spacing-66: 26.4rem;
    --spacing-66-5: 26.6rem;
    --spacing-67: 26.8rem;
    --spacing-67-5: 27rem;
    --spacing-68: 27.2rem;
    --spacing-68-5: 27.4rem;
    --spacing-69: 27.6rem;
    --spacing-69-5: 27.8rem;
    --spacing-70: 28rem;
    --spacing-70-5: 28.2rem;
    --spacing-71: 28.4rem;
    --spacing-71-5: 28.6rem;
    --spacing-72: 28.8rem;
    --spacing-72-5: 29rem;
    --spacing-73: 29.2rem;
    --spacing-73-5: 29.4rem;
    --spacing-74: 29.6rem;
    --spacing-74-5: 29.8rem;
    --spacing-75: 30rem;
    --spacing-75-5: 30.2rem;
    --spacing-76: 30.4rem;
    --spacing-76-5: 30.6rem;
    --spacing-77: 30.8rem;
    --spacing-77-5: 31rem;
    --spacing-78: 31.2rem;
    --spacing-78-5: 31.4rem;
    --spacing-79: 31.6rem;
    --spacing-79-5: 31.8rem;
    --spacing-80: 32rem;
    --spacing-80-5: 32.2rem;
    --spacing-81: 32.4rem;
    --spacing-81-5: 32.6rem;
    --spacing-82: 32.8rem;
    --spacing-82-5: 33rem;
    --spacing-83: 33.2rem;
    --spacing-83-5: 33.4rem;
    --spacing-84: 33.6rem;
    --spacing-84-5: 33.8rem;
    --spacing-85: 34rem;
    --spacing-85-5: 34.2rem;
    --spacing-86: 34.4rem;
    --spacing-86-5: 34.6rem;
    --spacing-87: 34.8rem;
    --spacing-87-5: 35rem;
    --spacing-88: 35.2rem;
    --spacing-88-5: 35.4rem;
    --spacing-89: 35.6rem;
    --spacing-89-5: 35.8rem;
    --spacing-90: 36rem;
    --spacing-90-5: 36.2rem;
    --spacing-91: 36.4rem;
    --spacing-91-5: 36.6rem;
    --spacing-92: 36.8rem;
    --spacing-92-5: 37rem;
    --spacing-93: 37.2rem;
    --spacing-93-5: 37.4rem;
    --spacing-94: 37.6rem;
    --spacing-94-5: 37.8rem;
    --spacing-95: 38rem;
    --spacing-95-5: 38.2rem;
    --spacing-96: 38.4rem;
    --spacing-96-5: 38.6rem;
    --spacing-97: 38.8rem;
    --spacing-97-5: 39rem;
    --spacing-98: 39.2rem;
    --spacing-98-5: 39.4rem;
    --spacing-99: 39.6rem;
    --spacing-99-5: 39.8rem;
    --spacing-100: 40rem;
}